.header .header-nav {
    margin: 0 0 50px;
    text-align: center;
    color: #cccccc;
}

.header .header-nav li {
    list-style: none;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.header .header-nav li a:hover {
    color: #333333;
}

.header .header-nav li a {
    color: #999999;
}

.header .logo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -60px;
    right: 100%;
    margin-right: -60px;
    background-size: cover;
    border-radius: 50%;
    z-index: 99;
    text-indent: -9999px;
    border: 3px solid white;
    background-color: white;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.header .titre {
    margin: 0;
    padding: 10px 16px 8px;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: #333333;
}

.header .lead {
    margin: 0 0 20px;
    padding: 0 32px;
    font-size: 18px;
    line-height: 1.5;
    color: #666666;
    text-align: center;
    font-weight: 400;
}

.header .header-img {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-indent: -9999px;
}

.header-image-container {
    height: 450px;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.header-about {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2 a {
    color: #212529;
}

/*pre code {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}*/

h2 a:hover {
    text-decoration: underline;
}

/*blockquote::after {
    font-family: FontAwesome;
    content: "\f10d";
    position: absolute;
    font-size: 60px;
    top: -5px;
    left: 5px;
    color: #F4F4F4;
}*/

blockquote p {
    margin-bottom: 0;
    font-family: PT sans;
    font-weight: 400;
    line-height: 21px;
    color: #444;
    position: relative;
    z-index: 10;
    font-style: italic;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .header .logo {
        right: 50%;
    }

    .header .titre {
        padding-top: 86px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .header .logo {
        right: 80%;
    }

    .header .titre {
        padding-top: 10px;
        margin-left: 20%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .header .logo {
        right: 80%;
    }

    .header .titre {
        padding-top: 10px;
        /*margin-left: 20%;*/
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .header .logo {
        right: 80%;
    }

    .header .titre {
        padding-top: 10px;
        /*margin-left: 20%;*/
    }
}