<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
    {% if site.enforce_ssl %}
      <!--
      redirect users to the https version of the website.
      but: only check when on the production domain, as set in _config.yml.
      -->
      <script type="text/javascript">
        var enforce = "{{ site.enforce_ssl }}";
        if ((enforce == window.location.host) && (window.location.protocol != "https:"))
        window.location = window.location.toString().replace(/^http:/, "https:");
      </script>
    {% endif %}
    {% include head.html %}
    {% if page.header-img %}
      <meta name="twitter:card" content="summary_large_image" />
    {% else %}
      <meta name="twitter:card" content="summary" />
    {% endif %}
    <meta name="twitter:site" content="@koffisani" />
    <meta name="twitter:title" content="Koffi Sani on GitHub" />
    <meta name="twitter:description" content="A log of my everyday coding life" />
    {% if page.header-img %}
      <meta name="twitter:image:src" content="{{ site.url }}/{{ page.header-img }}">
    {% else %}
      <meta name="twitter:image" content="https://lh3.googleusercontent.com/xX4LPo5qHrDCavcvQf9jPiczaqIpgwLAyrJRHMnUMWGq764KtHWeg1qHySVGCLOK7eVF=w1366-h768-rw-no" />
    {% endif %}
  </head> 
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXNLTDM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
