<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr-FR">

  <head>
    {% include head.html %}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXNLTDM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}

    <div class="content container">
      {{ content }}
      
      <p>&copy; {{ site.time | date: '%Y' }}. Tout droit réservé.</p>
    </div>
    
  </body>
</html>
