<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr-FR">

  <head>
    {% if site.enforce_ssl %}
      <!--
      redirect users to the https version of the website.
      but: only check when on the production domain, as set in _config.yml.
      -->
      <script type="text/javascript">
        var enforce = "{{ site.enforce_ssl }}";
        if ((enforce == window.location.host) && (window.location.protocol != "https:"))
        window.location = window.location.toString().replace(/^http:/, "https:");
      </script>
    {% endif %}
    {% include head.html %}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXNLTDM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    <footer class="footer">
      {% if site.github_username %} <a href="https://github.com/{{ site.github_username }}">Gith</a> {% endif %}
    </footer>

  </body>
</html>
